## Игнорирование системных файлов и настроек IDE
.vs/
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.sln.iml
.DS_Store
Thumbs.db

## Инструменты статического анализа и дополнения
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
StyleCopReport.xml

## Окружение, базы данных и секреты
.env
*.env
**/password.txt
db/password.txt
# postgres_data/

## Конфигурации приложения (.NET)
appsettings.json
appsettings.*.json
!appsettings.template.json

## NuGet пакеты
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Результаты сборки и логи (.NET / C++)
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
project.lock.json
project.fragment.lock.json

## Бинарные файлы и артефакты компиляции
*.dll
*.exe
*.pdb
*.meta
*.obj
*.iobj
*.pch
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.tlog
*.pidb
*.svclog

## Специфичные файлы сборки Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*_wpftmp.csproj
*.vspscc
*.vssscc
.builds
*.scc
ScaffoldingReadMe.txt